body {
    background: #29335C;
    background-size: cover;
    font-weight: bolder;
}

.player-btn {

    width: 100px;
    margin: 1em;

}

.game {
    background-color: transparent;
    width: 402px;
    height: 402px;
    margin: 50px auto;
}

.game-field {
    width: 134px;
    height: 134px;
    display: block;
    float: left;
    color: #EAEAEA;
    font-size: 6.3em;
    padding: 1px 27px;
}

.win {
    color: #E4572E;
    transition: 200ms;
}

#first,
#second,
#third {
    border-bottom: 3px solid #525B76;
}

#second {
    border-left: 3px solid #525B76;
    border-right: 3px solid #525B76;
}

#fourth,
#fifth,
#sixth {
    border-bottom: 3px solid #525B76;
}

#fifth {
    border-left: 3px solid #525B76;
    border-right: 3px solid #525B76;
}

#eight {
    border-left: 3px solid #525B76;
    border-right: 3px solid #525B76;
}

.game {
    display: none;
}

.player-select {
    max-width: 600px;
    margin: 10em auto;
    padding: 5em;
    border-radius: 10px;
}
